<% $title = 'About' %>
<div class="page-header">
    <h2>DSpace Rails Project</h2>
</div>
<div class="container">
    <p>This project was developed to show the functionality of a Ruby on Rails application connected to DSpace Rest API.</p>
    <p>First developed by Mike Kalvas at Ohio State University.</p>
    <p>Updated/maintained by Peter Dietz (formerly of Ohio State University), and now at Longsight, to use DSpace 5 REST API.</p>
    <p>Tools used in creating this app:</p>
    <ul>
        <li><a href="http://www.ruby-lang.org/en/">Ruby Programming Language</a> </li>
        <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="https://github.com/mkalvas/dspace-rest-rails">Github Repository Tracking</a></li>
        <li><a href="http://heroku.com">Heroku App Hosting</a></li>
    </ul>
    <button type="button" class="btn btn-default">
        <a href="https://github.com/mkalvas/dspace-rest-rails/commits/master">View Change Log</a>
    </button><br>
</div>
