<div class="page-header">
    <h2>DSpace Rails Project</h2>
</div>
<div class="container">
    <p>This project was developed to show the functionality of a Ruby on Rails application connected to The Ohio State
        Library's DSpace Rest API Client. Specifically, this project accepts and parses JSON into a usable form.</p>
    <p>Tools used in creating this app:</p>
    <ul>
        <li><a href="http://www.ruby-lang.org/en/">Ruby Programming Language</a> </li>
        <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="https://github.com/mkalvas/dspace-hydra-rails">Github Repository Tracking</a></li>
    </ul>
    <button type="button" class="btn btn-default">
        <a href="https://github.com/mkalvas/dspace-hydra-rails/commits/master">View Change Log</a>
    </button><br>
</div>