<% $title = 'Contact' %>
<div class="page-header">
    <h2>Contact Me</h2>
</div>
<div class="container">
<p>Feel free to contact me at any of the places below with anything regarding this application</p>
<ul>
    <li><a href="http://twitter.com/MikeKalvas">Twitter</a> </li>
    <li><a href="https://github.com/mkalvas">GitHub</a></li>
    <li><a href="mailto:mkalvas@gmail.com">Gmail</a></li>
    <li><a href="mailto:kalvas.2@osu.edu">OSU Email</a></li>
</ul>
</div>
