<div class="jumbotron">
    <% $title = "Dspace Communities" %>
    <h1><%= @communities.size %> Communities</h1>

    <ul>
        <% i = 0 %>
        <% while i < @communities.size %>
            <li>
                <%= link_to "#{@communities[i]}", community_path(:id => "#{@communityID[i]}") %>
            </li>
            <% i += 1 %>
        <% end %>
    </ul>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">View Source JSON</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <pre><code class=""><%= JSON.pretty_generate($jsonNode) %></code></pre>
            </div>
        </div>
    </div>

    <p>API Endpoint <a href="http://kb.osu.edu/rest/communities">http://kb.osu.edu/rest/communities</a></p>
</div>