<div class="jumbotron">
    <% $title = "Dspace Communities" %>
    <h1><%= @communities.size %> Communities</h1>

    <ul>
        <% i = 0 %>
        <% while i < @communities.size %>
            <li>
                <%= link_to "#{@communities[i]}", community_path(:id => "#{@communityID[i]}") %>
            </li>
            <% i += 1 %>
        <% end %>
    </ul>

    <%= render partial: "shared/data_foot" %>

</div>