/*
This file is what controls the expandable tree list on the home/index view

Put subfolders at bottom of lists (e.g. Folder 1 contains file and subfolder, list file first for best spacing results)

General input format example
----------------------------
<ol class="tree">
        <li class="tree">
            <label for="folder1">Folder 1</label><input type="checkbox" id="folder1" />
            <ol>
                <li class="file"><a href="#">File 1</a></li>
                <li class="tree">
                    <label for="subfolder1">Subfolder 1</label><input type="checkbox" id="subfolder1" />
                    <ol> ... </ol>
                </li>
            </ol>
        </li>
*/
ol.tree
{
}

li.tree
{
    position: relative;
    margin-left: -15px;
    list-style: none;
}

li.file
{
    margin-left: -1px !important;
}
li.file a
{
    width: intrinsic;
    padding-left: 25px;
    text-decoration: none;
    display: block;
    margin: 5px 0 5px 0;
}

li.file a[href *= '.pdf']	{ background: url(document.png) 0 0 no-repeat; }
li.file a[href *= '.html']	{ background: url(document.png) 0 0 no-repeat; }
li.file a[href $= '.css']	{ background: url(document.png) 0 0 no-repeat; }
li.file a[href $= '.js']    { background: url(document.png) 0 0 no-repeat; }

li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;

}

li input + ol
{
    background: url(<%= asset_path 'iconCollapsed.png' %>) 40px 0 no-repeat;
    margin: -1.6em 0 0 -44px; /* 15px */
    padding: 1.75em 0 0 80px;
    height: 2em;
}

li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}

li label
{
    width: intrinsic;
    cursor: pointer;
    display: block;
    padding-left: 37px;
}

li input:checked + ol
{
    background: url(<%= asset_path 'iconExpanded.png' %>) 40px -2px no-repeat;
    margin: -20px 0 10px -44px;
    padding: 1.4em 0 0 80px;
    height: auto;
}

li input:checked + ol > li {
    display: block;
    margin: 5px 0 0.125em;  /* 2px */
}

li input:checked + ol > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}